.blank-state-parent-container {
  .section-container {
    padding: 10px;
  }

  .section-body {
    width: 100%;
    height: 100%;
    padding-bottom: 25px;
    border-radius: $border-radius-default;
  }
}

.blank-state-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 100%;
}

.blank-state-welcome {
  text-align: center;
  padding: 20px 0 40px;

  .blank-state-welcome-title {
    font-size: 24px;
  }

  .blank-state-text {
    margin-bottom: 0;
  }
}

.blank-state-link {
  display: block;
  color: $gl-text-color;
  flex: 0 0 100%;
  margin-bottom: 15px;

  @media (min-width: $screen-sm-min) {
    flex: 0 0 49%;

    &:nth-child(odd) {
      margin-right: 5px;
    }

    &:nth-child(even) {
      margin-left: 5px;
    }
  }

  &:hover {
    background-color: $gray-light;
    text-decoration: none;
    color: $gl-text-color;
  }
}

.blank-state-center {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

.blank-state {
  padding: 20px;
  border: 1px solid $border-color;
  border-radius: $border-radius-default;

  @media (min-width: $screen-sm-min) {
    display: flex;
    height: 100%;
    align-items: center;
    padding: 50px 30px;
  }
}

.blank-state,
.blank-state-center {
  .blank-state-icon {
    svg {
      display: block;
      margin: auto;
    }
  }

  .blank-state-title {
    margin-top: 0;
    font-size: 18px;
  }

  .blank-state-body {
    @media (max-width: $screen-xs-max) {
      text-align: center;
      margin-top: 20px;
    }

    @media (min-width: $screen-sm-min) {
      padding-left: 20px;
    }
  }
}

/* EE-specific Styles */

@media (min-width: $screen-lg-min) {
  .column-large {
    flex: 2;
  }

  .column-small {
    flex: 1;
    margin-bottom: 15px;

    .blank-state {
      max-width: 400px;
      flex-wrap: wrap;
      margin-left: 15px;
    }

    .blank-state-icon {
      margin-bottom: 30px;
    }
  }
}

@media (max-width: $screen-xs-max) {
  .blank-state-icon svg {
    width: 315px;
  }
}
